{{ include "_layouts/_variables.liquid" }}

<!DOCTYPE html>
<html>
  <head>
    {{ include "_layouts/_head.liquid" }}
    <link rel="stylesheet" href="/assets/css/blog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
  <body class={{route}} data-route={{ route }} class='container'>
    {{ include "_layouts/_blog_header.liquid" }}

    <div class='page'>
      <h1 class='title'>{{ title }}</h1>
      <div class='content'>
        {{content}}
      </div>
    </div>

    {{ include "_layouts/_discuss_holder.liquid" }}
    {{ include "_layouts/_blog_footer.liquid" }}
  </body>
</html>
